<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Patient Details</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
    <div class="container col-6">
        <h2 class="text-center">Patient <span th:text="${#strings.concat(patient.firstname, ' ', patient.lastname)}"/></h2>

        <div class="text-center mb-3">
            <a th:href="@{/patientslist}">
                <button class="btn btn-secondary">Back to list of patients</button>
            </a>
        </div>
    </div>

    <hr class="my-4">

    <div class="container col-6">
        <h3 class="text-center">Patient Details</h3>

        <div class="text-center mb-3">
            <a th:href="@{/patient/edit/{id}(id=${patient.id})}">
                <button class="btn btn-warning">Edit the patient</button>
            </a>
        </div>

        <div class="text-center mb-3">
            <div th:if="${errorUpdatePatientMessage}" class="alert alert-success" role="alert">
                <p th:text="${errorUpdatePatientMessage}"></p>
            </div>
            <div th:if="${successAddPatientMessage}" class="alert alert-success" role="alert">
                <p th:text="${successAddPatientMessage}"></p>
            </div>
            <div th:if="${successUpdatePatientMessage}" class="alert alert-success" role="alert">
                <p th:text="${successUpdatePatientMessage}"></p>
            </div>
            <div th:if="${successAddNoteMessage}" class="alert alert-success" role="alert">
                <p th:text="${successAddNoteMessage}"></p>
            </div>
        </div>

        <table class="table table-bordered border border-dark text-center">
            <thead class="bg-success text-white">
            <tr>
                <th>Information</th>
                <th>Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Firstname</td>
                <td th:text="${patient.firstname}"></td>
            </tr>
            <tr>
                <td>Lastname</td>
                <td th:text="${patient.lastname}"></td>
            </tr>
            <tr>
                <td>Birthdate</td>
                <td th:text="${#temporals.format(patient.birthdate, 'dd/MM/yyyy')}"></td>
            </tr>
            <tr>
                <td>Gender</td>
                <td th:text="${patient.gender}"></td>
            </tr>
            <tr>
                <td>Address</td>
                <td th:text="${patient.address != null ? patient.address : 'No address'}"></td>
            </tr>
            <tr>
                <td>Phone</td>
                <td th:text="${patient.phone != null ? patient.phone : 'No phone'}"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <hr class="my-4">

    <div class="container col-6">
        <h3 class="text-center">Patient Notes</h3>

        <div class="text-center mb-3">
            <a th:href="@{/note/add(patientId=${patient.id})}">
                <button class="btn btn-success">Add a new note</button>
            </a>
        </div>

        <table class="table table-bordered border border-dark text-center">
            <thead class="bg-success text-white">
            <tr>
                <th>Note</th>
                <th>Creation date</th>
                <th>Update date</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody th:if="${notes!=null}">
                <tr th:each="note : ${notes}">
                    <td th:text="${note.note}"></td>
                    <td th:text="${#temporals.format(note.creationDate, 'dd/MM/yyyy')}"></td>
                    <td th:text="${#temporals.format(note.updateDate, 'dd/MM/yyyy')}"></td>
                    <td>
                        <div class="d-flex justify-content-center align-items-center" style="gap: 10px;">
                            <a th:href="@{/note/edit/{id}(id=${note.id})}">
                                <button class="btn btn-primary btn-sm" style="min-width: 100px;">Edit</button>
                            </a>
                            <form th:action="@{/removeNote(id=${note.id})}" method="post">
                                <button type="submit"
                                        onclick="return confirm('Are you sure to delete this note?')"
                                        class="btn btn-danger btn-sm" style="min-width: 100px;">Remove</button>
                            </form>
                        </div>
                    </td>
                </tr>
            </tbody>
            <tbody th:if="${notes==null}">
                <tr>
                    <td colspan="4">No notes available for this patient.</td>
                </tr>
            </tbody>
        </table>
    </div>

</body>
</html>